<section id="features" class="block block-feature-2 block-project-feature">
  <div class="container">
    <div class="columns">
      <div class="column media">
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}">
      </div>
      <div class="column text">
          <h2><span class="light">{{ section.headline }}</span></h2>
          <p>{{ section.content }}</p>
      </div>
      <div class="column media" style="order: 3;">
          <img src="{{ section.media.image2 | relative_url }}" alt="{{ section.media.alt_text }}">
      </div>
      <div class="column list">
        <h3 style="margin-top: 2rem;">{{ section.list.title }}</h3>

        <ul>
          {% for item in section.list.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
