<section class="block block-contact"
  <div class="container">
    <div class="columns">
      <div class="column text">
        <p>
          Are you a business looking for a tech partner to develop your next project? If so, we'd love to hear from you. Please don't hesitate to get in touch.
        </p>

        <div style="text-align: center;">
          <a class="get-in-touch" href="https://alistair233965.typeform.com/to/WibBDL">📝 Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</section>
